{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-widt, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>Sai's website</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="icon" href="{% static 'icon2.ico' %}"" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        {% if  post %}
        <meta property="og:url"   content="http://john95013600.pythonanywhere.com/post/{{ post.pk }}/" />
        <meta property="og:type"   content="article" />
        <meta property="og:title" content="{{ post.title }}" />
        <meta property="og:description" content="{{ post.text|truncatechars_html:100 }}" />
        <meta property="og:image" content="" />
        {% else %}
        <meta property="og:url"   content="http://john95013600.pythonanywhere.com" />
        <meta property="og:type"   content="website" />
        <meta property="og:title" content="Sai's website" />
        <meta property="og:description" content="Welcome to my personal website!" />
        <meta property="og:image" content="{% static 'icon2.ico' %}" />
        {% endif %}
        <meta property="fb:app_id" content="1195677513840426" />
    </head>
    <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=1195677513840426";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="page-header">
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu" title="新增貼文"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu" title="編輯草稿"><span class="glyphicon glyphicon-edit"></span></a>
        <p class="top-menu">Hello, {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
        <a href="{% url 'login' %}" class="top-menu" title="帳號登入">Sign in <span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="{% url 'blog.views.post_list' %}" title="回到首頁">Sai 's Website</a></h1>
        <div>
            <div class="top-row">
                <h2>Photo.</h2>
            </div>
            <div class="top-row">
                <h2>Article.</h2>
            </div>
            <div class="top-row">
                <h2>About Me.</h2>
            </div>
        </div>

    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
            <div class="col-md-4">
                <div class="right-bar">
                    {% block rightbar %}
                    {% endblock %}
                </div>
            
            </div>
        </div>
    </div>
    <div id="footer">
        <hr>
        © <a href="https://www.facebook.com/profile.php?id=100000775049013">john95013600</a>  Since 2016 .
        <br>
        <p style="margin-top: 5px">Contact : <a href="mailto:s101321004@mail1.ncnu.edu.tw"><span class="glyphicon glyphicon-envelope" ></span> Me</a></p>
    </div>
    <script>
$(document).ready(function(){
    $(".L1 > li > div").click(function(){
        // console.log($(this).parent().find($("ul .L2")));
        $(this).parent().find($("ul .L2")).toggle();
        // console.log($(this).parent().find($(".L1 > li > div > span")));
         if($(this).parent().find($(".L1 > li > div > span")).html()==" ▼&nbsp;"){
                $(this).parent().find($(".L1 > li > div > span")).html(" ►&nbsp;");
            }
            else{
                $(this).parent().find($(".L1 > li > div > span")).html(" ▼&nbsp;");
            }
    });
     $(".L2 > li > div").click(function(){
        $(this).parent().find($("ul .L3")).toggle();
         if($(this).parent().find("span").html()==" ▼&nbsp;"){
                $(this).parent().find("span").html(" ►&nbsp;");
            }
            else{
                $(this).parent().find("span").html(" ▼&nbsp;");
            }
    });

    $(".L1_1 > li > div").click(function(){
        // console.log($(this).parent().find($("ul .L2")));
        $(this).parent().find($("ul .L3_1")).toggle();
        // console.log($(this).parent().find($(".L1 > li > div > span")));
         if($(this).parent().find($(".L1_1 > li > div > span")).html()==" ▼&nbsp;"){
                $(this).parent().find($(".L1_1 > li > div > span")).html(" ►&nbsp;");
            }
            else{
                $(this).parent().find($(".L1_1 > li > div > span")).html(" ▼&nbsp;");
            }
    });

    document.getElementById("post_date_start").valueAsDate = new Date();
    document.getElementById("post_date_end").valueAsDate = new Date();



    $("#search").click(function(){
        var start_date = document.getElementById("post_date_start").value;
        var end_date = document.getElementById("post_date_end").value;
        var post_title = document.getElementById("post_title").value;
        var reg=/[@#\$%\^&\*_-\s]+/g ;
        if(post_title.match(reg))
        {
            // alert("查詢輸入中有特殊字符，請重新輸入！");
            $("#post_title").html("");
            $("#con").html("查詢輸入中有特殊字符，請重新輸入！");
        }
        else
        {
            console.log('123');
            var tag = $("<a>Click to see the result.</a>").attr("href", "http://127.0.0.1:8000/search/"+start_date + "/" + end_date + "/" + post_title+"/");
            console.log('456');
            $("#con").html(tag);
            console.log('789');
        }
        
    });
    
});
</script>
</body>
</html>