{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		 <link rel="stylesheet" href="{% static 'css/blog.css' %}">
		 <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
         <link rel="icon" href="{% static 'icon2.ico' %}"" type="image/x-icon">
         <!-- icon change -->
    </head>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu" title="新增貼文"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu" title="編輯草稿"><span class="glyphicon glyphicon-edit"></span></a>
        <p class="top-menu">Hello, {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
        <a href="{% url 'login' %}" class="top-menu" title="帳號登入">Sign in <span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="{% url 'blog.views.post_list' %}" title="回到首頁">Django Girls Blog</a></h1>
        <div>
            <div class="top-row">
                <h2>Photo.</h2>
            </div>
            <div class="top-row">
                <h2>Article.</h2>
            </div>
            <div class="top-row">
                <h2>About Me.</h2>
            </div>
        </div>

    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
            <div class="col-md-4">
                <div class="right-bar">
                    gogo
                </div>
            
            </div>
        </div>
    </div>
    <div id="footer">
        <hr>
        © <a href="https://www.facebook.com/profile.php?id=100000775049013">john95013600</a>  Since 2016 .
        <br>
        <p style="margin-top: 5px">Contact : <a href="mailto:s101321004@mail1.ncnu.edu.tw"><span class="glyphicon glyphicon-envelope" ></span> Me</a></p>
    </div>
</body>
</html>