{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
        <div class="post">
            <div class="date">
                <p>{{ post.published_date|date:"Y年 m月 d日 l" }}</p>
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <hr>
            {% autoescape off %}
            <div class="div1"><div class="div2">{{ post.text|linebreaksbr|truncatechars_html:30 }} <a href="{% url 'post_detail' pk=post.pk %}" style="display:inline-block;margin:0px 0px 0px 5px">(繼續閱讀)</a></div></div>
            {% endautoescape %}

            <!-- <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a> -->

            <a href="http://john95013600.pythonanywhere.com/post/{{ post.pk }}/#fb-comments"><span class="fb-comments-count" data-href="http://john95013600.pythonanywhere.com/post/{{ post.pk }}/"></span> comments</a>
            <div class="fb-like" data-href="http://john95013600.pythonanywhere.com/post/{{ post.pk }}/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    	</div>
    {% empty %}
        <h1>很抱歉，您查詢的貼文沒有找到，請輸入正確的時間或標題。</h1>
	{% endfor %}
{% endblock %}

{% block rightbar %}
    <!-- <iframe class="youtube" width="420" height="345" src="https://www.youtube.com/embed/C-xF2MAFw5s?playlist=PQ9PaRuwxek,FDYHYbF7n9A&loop=1&autoplay=1"></iframe> -->
    <div>
        <h2 class="classify"><span class="glyphicon glyphicon-time"></span>&nbsp;時間分類</h2>
        {% for post in postall %}  
            {% ifchanged %}
                <ul class="L1"><li><div><span> ▼&nbsp;</span></div><h2>{{   post.published_date|date:"Y年" }}</h2>
            {% endifchanged %}
            {% ifchanged %}
                <ul class="L2"><li><div><span> ▼&nbsp;</span></div><h3>{{  post.published_date|date:"F" }}</h3>
            {% endifchanged %}

            <!-- <p>{{ forloop.counter }}</p> -->
                {% for post2 in postall %}    
 
                    {% if forloop.parentloop.counter == forloop.counter %}
                
                    <ul class="L3"><li><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|truncatechars_html:20 }}</a></li></ul>
                {% endif %}
                {% if forloop.parentloop.counter|add:1 == forloop.counter %}
                    {% if post.published_date|date:"F" != post2.published_date|date:"F" %}
                    </li></ul>
                    {% endif %}

                    {% if post.published_date|date:"Y年" != post2.published_date|date:"Y年" %}
                    </li></ul>
                    {% endif %}
                {% endif %}

            {% endfor %}
        {% endfor %}
        </li></ul></li></ul>

        <h2 class="classify"><span class="glyphicon glyphicon-tags"></span>&nbsp;文章分類</h2>
        {% for post in class %}  
            {% ifchanged %}
                <ul class="L1_1"><li><div><span> ▼&nbsp;</span></div><h2>{{  post.post_type }}</h2>
            {% endifchanged %}


                {% for post2 in class %}    
 
                    {% if forloop.parentloop.counter == forloop.counter %}
                
                    <ul class="L3_1"><li><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|truncatechars_html:20 }}</a></li></ul>
                {% endif %}
                {% if forloop.parentloop.counter|add:1 == forloop.counter %}
                    {% if post.post_type != post2.post_type %}
                    </li></ul>
                    {% endif %}

                    {% if post.post_type != post2.post_type %}
                    </li>
                    {% endif %}
                {% endif %}

            {% endfor %}
        {% endfor %}
        </ul></li>
    </div>

    <div class="searchbox">
        <h2><span class="glyphicon glyphicon-search"></span>貼文查詢</h2>
        <p>起始時間: </p><input type="date" id="post_date_start" value="2016-10-24"><br>
        <p>結束時間: </p><input type="date" id="post_date_end" value="2016-10-24"><br>
        <p>標題: </p><input type="text" id="post_title"><br>
        <button id="search">查詢</button>
        <p id="con"></p>
    </div>

    <script>
        $(document).ready(function(){

            $('head').append('<meta property="og:url"   content="http://john95013600.pythonanywhere.com" />').append(
                '<meta property="og:type"   content="website" />').append('<meta property="og:title" content="Sai\'s website" />').append(
                '<meta property="og:description" content="Welcome to my personal website!" />');

        });
    </script>
{% endblock%}

<!-- change post format to => post_type/date_time/comments_count -->
<!-- http://blog.spoongraphics.co.uk/ -->
<!-- http://webdesignerwall.com/ -->