{% extends 'blog/base.html' %}

{% block content %}
    <div class="post" >
        {% if post.published_date %}
            <div class="date" title="{{ post.post_url }}">
                Post:
                {{ post.published_date|date:'Y年 m月 d日  l' }}

                {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" title="編輯貼文"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" title="刪除貼文"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </div>
        {% else %}
        	<div class="date">
	        	Created: 
	        	{{ post.created_date|date:'Y年 m月 d日  l' }}
	        	{% if user.is_authenticated %}
	        	<a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>    
	        	{% endif %}
        	</div>
        {% endif %}

        <h1>{{ post.title }}</h1>
        {% autoescape off %}
        <div>{{ post.text|linebreaks }}</div>
       {% endautoescape %}
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}" title="新增評論">Add comment</a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date|date:'Y年 m月 d日  l' }}
                    
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}" title="刪除評論"><span class="glyphicon glyphicon-remove"></span></a>
                        {% if comment.approved_comment %}
                            <a class="btn btn-default" href="{% url 'comment_non_approve' pk=comment.pk %}" title="隱藏評論"><span class="glyphicon glyphicon-minus-sign"></span></a>
                        {% else %}
                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}" title="顯示評論"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    <!-- <div>{{ post.post_url }}post/{{ post.pk }}/</div> -->

    <!-- <div id="disqus_thread" class="/post/{{ post.pk}}/"></div>
    <script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
    var url2 = "http://john95013600.pythonanywhere.com/post/"+'{{ post.pk }}'+"/";
    var identifier2 =  "/post/{{ post.pk }}/";
    console.log(url2);
    var disqus_config = function () {
        this.page.url = url2;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = identifier2; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.title = "{{post.title}}";
        console.log(this.page.url);
        console.log( this.page.identifier);
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//sai-s-website.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();

    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <button></button><-->

    
    <div id="fb-comments"></div>
    <div class="fb-comments" data-href="http://john95013600.pythonanywhere.com/post/{{ post.pk }}/" data-width="480" data-numposts="5" data-mobile="True"></div>

{% endblock %}

{% block rightbar %}
    <div>
        {% for post in list %}  
            {% ifchanged %}
                <ul class="L1"><li><div><span> ▼&nbsp;</span></div><h2>{{   post.published_date|date:"Y年" }}</h2>
            {% endifchanged %}
            {% ifchanged %}
                <ul class="L2"><li><div><span> ▼&nbsp;</span></div><h3>{{  post.published_date|date:"F" }}</h3>
            {% endifchanged %}

            <!-- <p>{{ forloop.counter }}</p> -->
                {% for post2 in list %}    
 
                    {% if forloop.parentloop.counter == forloop.counter %}
                
                    <ul class="L3"><li><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|truncatechars_html:20 }}</a></li></ul>
                {% endif %}
                {% if forloop.parentloop.counter|add:1 == forloop.counter %}
                    {% if post.published_date|date:"F" != post2.published_date|date:"F" %}
                    </li></ul>
                    {% endif %}

                    {% if post.published_date|date:"Y年" != post2.published_date|date:"Y年" %}
                    </li>
                    {% endif %}
                {% endif %}

            {% endfor %}
        {% endfor %}
        </ul></div>
{% endblock%}    

<!-- 貼文應該大家都能看見 而管理員可以決定是否顯示該則評論 -->
<!-- 所以說commit commet後應該直接approved  再由管理員決定是否刪除或屏蔽貼文 -->